body{
  font-family: Open Sans,Arial,Helvetica,sans-serif;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
p {
  font-family:Fondamento;
  font-size:20px;
}

.footer {
  font-family: Fondamento;
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  font-size:20px;
}