{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Transacted</th>
            </tr>
          </thead>
          <tbody>
                {% for history in histories %}
                    <tr>
                        <td>{{history["symbol"]}}</td>
                        <td>{{history["shares"]}}</td>
                        <td>{{history["price"]}}</td>
                        <td>{{history["time"]}}</td>
                    </tr>
                {%  endfor %}

          </tbody>
    </table>
{% endblock %}
