{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
          <tbody>
              {% for stock in stocks %}

               <tr>
                   <td>{{current_stock_price[stock["symbol"]]["symbol"]}}</td>
                   <td>{{current_stock_price[stock["symbol"]]["name"]}}</td>
                   <td>{{stock["shares"]}}</td>
                   <td>${{ '{:,.2f}'.format(current_stock_price[stock["symbol"]]["price"]) }}</td>
                   <td>${{ '{:,.2f}'.format(current_stock_price[stock["symbol"]]["price"] * stock["shares"]) }}</td>
               </tr>
              {% endfor %}
              <tr>
                  <td>CASH</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>${{ '{:,.2f}'.format(cash[0]["cash"]) }}</td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>${{ '{:,.2f}'.format(cash[0]["cash"] + total) }}</td>
              </tr>
          </tbody>
    </table>
{% endblock %}
