{% extends "layout.html" %}

{% block title %}
   Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select required="required" name="symbol" id=stock class="custom-select form-control">
                <option>Select Stock Symbol</option>
            {% for symbol in symbols %}
              <option >{{ symbol["symbol"].upper() }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
