{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-3">

        <h1 class="my-4">Category</h1>
        <div class="list-group">
          {% for category in categories %}
            <a href="?f={{category['name'].lower()}}" class="list-group-item">{{category['name']}}</a>
          {% endfor %}
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <!-- Products to be displayed-->
        <div class="row">
          {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ product['img_url']}}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{ product['product_name']}}</a>
                  </h4>
                  <h5>${{ product['unit_price'] }}</h5>
                  <p class="card-text">{{product['description'][:50]}} <a class"card-link" href="/product?n={{product['product_id']}}"> more...</a></p>
                </div>
                <div class="card-footer">
                  <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                  <a href="/product?n={{product['product_info']}}"><button type="button" class="btn btn-info">Details</button></a>
                  <a href="/message?item={{products['product_id']}}"><button type="button" class="btn btn-secondary" >Message Seller</button></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- row -->

    </div>
     <!-- /.col-lg-9 -->
</div>
<!-- /.row -->
<br>
<br>
<br>

{% endblock %}

