{% extends "layout.html" %}

{% block title %}
    Email Seller
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{product_info[0]["product_name"]}} - ${{product_info[0]["unit_price"]}}</h1>
            <form action="/message" method="post" id="form">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email" required>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="name" type="text" required>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="user_id" type="hidden" value="{{product_info[0]['user_id']}}" required>
                </div>
                <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" value="Hey! I am interested in purchasing this product" placeholder="Hey! I am interested in purchasing this product" rows="3"></textarea>
                        </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock%}