{% extends "layout.html" %}

{% block title %}
    {{product_info[0]["product_name"]}}
{% endblock %}

{% block main %}
    <h1>{{product_info[0]["product_name"]}}</h1>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-8 ">
          <img src="{{product_info[0]['img_url']}}" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 col-md-4">
        <h2>Details</h2>
        <p>{{product_info[0]["description"]}}</p>
        <h3 class="badge badge-dark">${{ product_info[0]['unit_price'] }}</h3>
        <br>
        <a href="/message"><button type="button" class="btn btn-light" >Message Seller</button></a>
      </div>
    </div>
<br>
<br>
{% endblock %}